:root{
    --purple: #8e7cbe;
    --gray: #080a09;
    --light-purple: #ba96c6;
    --yellow: #fbdd57;
    --back: #da7e81;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}


body{
    background: var(--back);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-body{
    width: 400px;
    height: 600px;
    display: flex;
    position: absolute;
    background-color: #ba96c6;
    z-index: -2;;
}

.shapes{
    border: 3px solid var(--gray);
}

.shapes:nth-child(1){
    width: 170px;
    height: 280px;
    background: var(--purple);
    margin: 0 auto;
    position: relative;
    bottom: 80px;
    border-radius: 10rem;
    top: 12px;
}

.shapes:nth-child(2){
    width: 150px;
    height: 200px;
    background: var(--purple);
    position: absolute;
    border-radius: 10rem;
    rotate: -70deg;
    top: 100px;
    border: 3px solid var(--gray);
    border-bottom-color: transparent;
}


.shapes:nth-child(3){
    width: 150px;
    height: 200px;
    background: var(--purple);
    position: absolute;
    left: 250px;
    rotate: 70deg;
    border-radius: 10rem;
    top: 100px;
    border-bottom-color: transparent;
}

.shapes:nth-child(4){
    width: 210px;
    height: 450px;
    background: var(--purple);
    rotate: 90deg;
    border-radius: 15rem;
    left: 104px;
    position: absolute;
    top: 80px;
    border-right-color: transparent;
    border-left-color: transparent;
}

.shapes:nth-child(5){
    width: 160px;
    height: 170px;
    background: var(--purple);
    border-radius: 15rem;
    position: absolute;
    top: 340px;
    rotate: 30deg;
    border-top-color: transparent;
    z-index: -1;
}

.shapes:nth-child(6){
    width: 120px;
    height: 180px;
    background: var(--purple);
    border-radius: 15rem;
    position: absolute;
    top: 370px;
    rotate: 20deg;
    left: 80px;
    border-top-color: transparent ;
    border-left-color: transparent;
}

.shapes:nth-child(7){
    width: 70px;
    height: 190px;
    background: var(--purple);
    position: absolute;
    top: 390px;
    rotate: 4deg;
    border-radius: 15rem;
    left: 160px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}

.shapes:nth-child(8){
    width: 60px;
    height: 180px;
    background: var(--purple);
    border-radius: 15rem;
    position: absolute;
    top: 400px;
    left: 200px;
    rotate: -15deg;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}

.shapes:nth-child(9){
    width: 120px;
    height: 190px;
    border-radius: 15rem;
    position: absolute;
    background: var(--purple);
    top: 375px;
    left: 240px;
    rotate: -20deg;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}

.shapes:nth-child(10){
    width: 160px;
    height: 170px;
    background: var(--purple);
    border-radius: 15rem;
    position: absolute;
    top: 340px;
    left: 270px;
    rotate: -30deg;
    border-top-color: transparent;
    border-left-color: transparent;
    z-index: -1;
}


.star{
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;

    border-right: 0.3em solid transparent;
    border-bottom: 0.7em solid var(--yellow);
    border-left: 0.3em solid transparent;

    font-size: 4rem;

    top: 6rem;
    left: 19rem;

}

.star::before, .star::after{
    content: '';

    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;

    top: 0.6em;
    left: -1em;

    border-right: 1em solid transparent;
    border-bottom: 0.7em solid var(--yellow);
    border-left: 1em solid transparent;

    transform: rotate(-35deg);
}

.star::after{
    transform: rotate(35deg);
}

.face{
    position: absolute;
    left: 0;
    right: 0;
}

.face .group-eyes{
    position: absolute;
    width: 300px;
    height: 55px;
    top: 140px;
    left: 80px;
    background: #8e7cbe;
    z-index: 1;
}

.group-eyes .eyebrows-box,
.group-eyes .eyes{
    display: flex;
    position: absolute;
    justify-content: space-between;
}

.eyebrows-box .eyebrow{
    width: 35px;
    height: 5px;
    background: var(--gray);
    margin: 15px 40px 0 40px;
    border-radius: 5rem;
}

.eyes .eye{
    width: 20px;
    height: 20px;
    background: var(--gray);
    margin: 16px 48px 0;
    border-radius: 15rem;
}

.face .mouth{
    width: 50px;
    height: 35px;
    background: var(--gray);
    position: absolute;
    border-radius: 50%;
    top: 200px;
    right: 175px;
}

.face .mouth::before{
    width: 25px;
    height: 10px;
    background: var(--purple);
    position: absolute;
    content: '';
    border-radius: 45%;
    top: 23px;
    left: 18px;
    rotate: -10deg;    
}

.face .mouth::after{
    width: 50px;
    height: 55px;
    border: 2px solid var(--gray);
    content: '';
    position: absolute;
    top: -8px;
    left: 48px;
    border-radius: 45%;
    rotate: 0deg;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
}
